			body {
				margin: 0px 10px 0px 10px
			}
			
			.sectionLeft {
				float: left;
				width: 33%;
				display: block;
				overflow: auto;
			}
			.sectionMid {
				height: 100vh;
				float: left;
				width: 30%;
				background-color: rgb(200, 200, 200, 0.6);
				margin: 0px 10px 0px 10px;
				overflow-y: auto;
				overflow-x: hidden;
				display: block
			}
			.sectionRight {
				float: right;
				width: 30%;
				display: block;
				overflow: auto;
			}
			.scoreContainer {
				background-color: rgb(238, 238, 238, 0.6);
				width: 50%;
				padding: 10px;
				border-radius: 200px;
				font-size: 24px;
				font-weight: bold;
			}
			.clickerContainer img {
				position: relative;
				transition: all .07s ease-in-out;
			}
			.clickerContainer img:hover { transform: scale(1.10); }
			.clickerContainer img.clicking { transform: scale(0.9); }
			
			.shopButton {
				background-color: rgb(181, 181, 181, 1);
				transition: all .2s ease-in-out;
				border-radius: 5px;
				width: 100%;
				margin: 10px 0px 10px 0px;
			}
			.shopButton:hover {
				background-color: rgb(199, 199, 199, 1);
				transition: all .2s ease-in-out;
			}
			.shopButton #image {
				width: 25%;
			}
			.shopButton img{
				height: auto;
				width: 64px;
				display: block;
				margin: auto
			}
			.shopButton #nameAndCost p {
				margin: 0px;
				width: 80%;
			}
			
			.shopButton #nameAndCost p:first-of-type {
				font-size: 24px;
			}
			.shopButton #amount {
				font-size: 48px;
				color: #595959;
				font-family: roboto;
				width:15%
			}
			
			.RstBttn {
				background-color: #770c0c;
				transition: all .2 ease-in-out;
				border-radius: 5px;
				width: 100%;
				margin: 50px 0px 5px 0px;
				text-align: center
			}
			.RstBttn:hover {
				background-color: #560a0a;
				transition: all .2s ease-in-out;
			}
			.RstBttn #image {
				width: 25%;
			}
			.RstBttn img{
				height: 64px;
				width: 64px
			}
			.RstBttn #nameAndCost p {
				margin: 0px;
				width: 60%;
			}
			
			.RstBttn #nameAndCost p:first-of-type {
				font-size: 10px;
			}
			.RstBttn #amount {
				font-size: 48px;
				color: 000000;
				font-family: roboto;
				width:15%
			}
			
			.unselectable {
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			#UpgradeContainer img {
				height: 64px;
				width: 64px;
			}
			
			.midStats {
				margin: 0px 10px 0px 10px;
				font: georgia;
				overflow-x: hidden;
				font-weight: bold;
			}
			
			.midUpgradeInfo {
				height: 100px;
				margin: 10px 10px 10px 10px;
				background-color: rgb(150, 150, 150, 1);
				padding: 5px 5px 5px 5px;
				font-size: 20px;
				text-align: center;
				font-weight: bold;
			}